<a href="https://colab.research.google.com/github/Sheljalomash140897/Python-Visualization/blob/main/nifty_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [5]:
#Connect Google Drive
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [8]:
#getting data from google drive
path="/gdrive/MyDrive/National_Stock_Exchange_of_India_Ltd.csv"
data=pd.read_csv(path)

In [10]:
data.head()

       Symbol       Open       High  ...     52w L 365 d % chng  30 d % chng
0  ADANIPORTS        750        766  ...     384.4        79.22        -4.65
1  ASIANPAINT   3,101.00   3,167.35  ...  2,117.15        45.66         5.66
2    AXISBANK        669      674.9  ...     568.4        10.19       -21.49
3  BAJAJ-AUTO   3,370.00   3,383.50  ...  3,041.00         9.30       -12.05
4  BAJAJFINSV  17,200.00  17,237.20  ...  8,273.70        91.38        -9.10

[5 rows x 13 columns]

In [12]:
data.tail()

        Symbol      Open      High  ...     52w L 365 d % chng  30 d % chng
45       TECHM  1,544.00  1,550.00  ...     846.7        76.17        -2.83
46       TITAN  2,377.80  2,385.10  ...  1,300.35        75.45        -6.59
47  ULTRACEMCO  7,550.00  7,599.00  ...  4,770.00        53.50         1.78
48         UPL       726       726  ...    414.15        68.06        -1.37
49       WIPRO       632     634.4  ...    346.25        77.51        -7.01

[5 rows x 13 columns]

In [13]:
data.shape

(50, 13)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Symbol           50 non-null     object
 1   Open             50 non-null     object
 2   High             50 non-null     object
 3   Low              50 non-null     object
 4   LTP              50 non-null     object
 5   Chng             50 non-null     float64
 6   % Chng           50 non-null     float64
 7   Volume (lacs)    50 non-null     float64
 8   Turnover (crs.)  50 non-null     object
 9   52w H            50 non-null     object
 10  52w L            50 non-null     object
 11  365 d % chng     50 non-null     float64
 12  30 d % chng      50 non-null     float64
dtypes: float64(5), object(8)
memory usage: 5.2+ KB

In [15]:
data.describe()

             Chng     % Chng  Volume (lacs)  365 d % chng  30 d % chng
count   50.000000  50.000000      50.000000     50.000000    50.000000
mean   -70.133000  -2.930200      71.266600     41.203000    -5.996800
std    163.203678   2.677007      93.462062     37.358646     6.322546
min   -770.500000  -7.480000       0.300000    -16.020000   -22.080000
25%    -66.775000  -4.527500      13.472500      9.375000    -9.665000
50%    -29.975000  -3.300000      30.750000     35.860000    -5.705000
75%     -7.812500  -1.932500      99.200000     65.942500    -2.222500
max    158.400000   7.230000     517.880000    167.950000     6.360000

In [16]:
data.isnull().sum()

Symbol             0
Open               0
High               0
Low                0
LTP                0
Chng               0
% Chng             0
Volume (lacs)      0
Turnover (crs.)    0
52w H              0
52w L              0
365 d % chng       0
30 d % chng        0
dtype: int64

NO null values are present

In [17]:
data.sort_values('Low')

        Symbol       Open       High  ...      52w L 365 d % chng  30 d % chng
15     HCLTECH   1,120.00   1,126.00  ...     814.35        34.79        -4.73
37     SBILIFE   1,154.00   1,154.00  ...      825.2        33.19        -3.52
43   TATASTEEL   1,157.90   1,159.50  ...      539.5       105.13       -17.37
17    HDFCBANK   1,500.00   1,506.70  ...   1,342.00         6.18        -9.88
45       TECHM   1,544.00   1,550.00  ...      846.7        76.17        -2.83
14      GRASIM   1,757.30   1,757.85  ...     840.05        99.95        -3.08
24        INFY   1,702.55   1,718.35  ...   1,091.00        51.44        -0.83
29          LT   1,820.00   1,841.75  ...   1,092.00        59.59        -0.85
28   KOTAKBANK   2,002.00   2,007.00  ...   1,626.00         5.24       -11.35
25         IOC      125.6      125.6  ...         84        41.28        -7.87
33        NTPC      133.2     134.05  ...      88.15        36.93       -10.16
34        ONGC     152.25     152.25  ...      77.05        82.86        -9.41
10   COALINDIA     157.75      159.4  ...     123.25        25.78       -10.94
4   BAJAJFINSV  17,200.00  17,237.20  ...   8,273.70        91.38        -9.10
32   NESTLEIND  19,148.85  19,434.10  ...  16,002.10         9.87         0.17
46       TITAN   2,377.80   2,385.10  ...   1,300.35        75.45        -6.59
21  HINDUNILVR   2,344.00   2,365.00  ...   2,120.00         9.60        -3.94
36    RELIANCE   2,467.80   2,477.60  ...   1,830.00        23.48        -9.62
13   EICHERMOT   2,495.00   2,506.10  ...   2,303.70        -5.95        -5.77
19  HEROMOTOCO   2,580.00   2,589.70  ...   2,505.15       -16.02        -6.43
16        HDFC   2,820.35   2,856.00  ...   2,179.30        25.27        -5.72
35   POWERGRID     204.05     204.95  ...     136.88         3.69         6.36
26         ITC      228.9     230.05  ...      192.4        15.35        -5.53
39    SHREECEM  26,450.00  26,539.90  ...  22,531.00         9.29        -6.76
1   ASIANPAINT   3,101.00   3,167.35  ...   2,117.15        45.66         5.66
3   BAJAJ-AUTO   3,370.00   3,383.50  ...   3,041.00         9.30       -12.05
44         TCS   3,425.00   3,490.00  ...   2,624.45        27.32        -1.25
8    BRITANNIA   3,560.00   3,635.10  ...   3,317.30         0.30        -3.42
7         BPCL     397.15      397.2  ...        357        -1.22       -12.45
12     DRREDDY   4,580.00   4,820.00  ...   4,135.00        -1.17         1.80
11    DIVISLAB   4,770.00   5,077.70  ...   3,153.30        42.39        -1.57
20    HINDALCO      441.8      442.7  ...     220.35        86.93       -14.06
42  TATAMOTORS        486     486.75  ...      156.7       167.95        -9.68
38        SBIN     486.25      487.9  ...     240.15        93.42        -8.30
5   BAJFINANCE   7,021.00   7,047.90  ...   4,362.00        44.57       -13.69
49       WIPRO        632      634.4  ...     346.25        77.51        -7.01
27    JSWSTEEL     668.25     672.55  ...        336        86.25        -9.27
2     AXISBANK        669      674.9  ...      568.4        10.19       -21.49
18    HDFCLIFE        685        689  ...      617.4         0.70        -2.94
31      MARUTI   7,520.00   7,520.00  ...   6,400.00         1.34        -2.02
47  ULTRACEMCO   7,550.00   7,599.00  ...   4,770.00        53.50         1.78
48         UPL        726        726  ...     414.15        68.06        -1.37
0   ADANIPORTS        750        766  ...      384.4        79.22        -4.65
22   ICICIBANK        739     742.05  ...      465.8        52.41       -13.14
6   BHARTIARTL        763        763  ...     454.11        58.55         5.70
40   SUNPHARMA        775      798.9  ...      502.3        51.57        -5.69
41  TATACONSUM      800.2        805  ...     505.05        49.55        -4.82
30         M&M        885        885  ...     660.25        18.77        -4.42
9        CIPLA        892     976.05  ...      726.5        31.89         6.34
23  INDUSINDBK        951     956.95  ...        789         5.25       -22.08

[50 rows x 13 columns]

In [18]:
#From Losers to Gainers
data.sort_values('365 d % chng')

        Symbol       Open       High  ...      52w L 365 d % chng  30 d % chng
19  HEROMOTOCO   2,580.00   2,589.70  ...   2,505.15       -16.02        -6.43
13   EICHERMOT   2,495.00   2,506.10  ...   2,303.70        -5.95        -5.77
7         BPCL     397.15      397.2  ...        357        -1.22       -12.45
12     DRREDDY   4,580.00   4,820.00  ...   4,135.00        -1.17         1.80
8    BRITANNIA   3,560.00   3,635.10  ...   3,317.30         0.30        -3.42
18    HDFCLIFE        685        689  ...      617.4         0.70        -2.94
31      MARUTI   7,520.00   7,520.00  ...   6,400.00         1.34        -2.02
35   POWERGRID     204.05     204.95  ...     136.88         3.69         6.36
28   KOTAKBANK   2,002.00   2,007.00  ...   1,626.00         5.24       -11.35
23  INDUSINDBK        951     956.95  ...        789         5.25       -22.08
17    HDFCBANK   1,500.00   1,506.70  ...   1,342.00         6.18        -9.88
39    SHREECEM  26,450.00  26,539.90  ...  22,531.00         9.29        -6.76
3   BAJAJ-AUTO   3,370.00   3,383.50  ...   3,041.00         9.30       -12.05
21  HINDUNILVR   2,344.00   2,365.00  ...   2,120.00         9.60        -3.94
32   NESTLEIND  19,148.85  19,434.10  ...  16,002.10         9.87         0.17
2     AXISBANK        669      674.9  ...      568.4        10.19       -21.49
26         ITC      228.9     230.05  ...      192.4        15.35        -5.53
30         M&M        885        885  ...     660.25        18.77        -4.42
36    RELIANCE   2,467.80   2,477.60  ...   1,830.00        23.48        -9.62
16        HDFC   2,820.35   2,856.00  ...   2,179.30        25.27        -5.72
10   COALINDIA     157.75      159.4  ...     123.25        25.78       -10.94
44         TCS   3,425.00   3,490.00  ...   2,624.45        27.32        -1.25
9        CIPLA        892     976.05  ...      726.5        31.89         6.34
37     SBILIFE   1,154.00   1,154.00  ...      825.2        33.19        -3.52
15     HCLTECH   1,120.00   1,126.00  ...     814.35        34.79        -4.73
33        NTPC      133.2     134.05  ...      88.15        36.93       -10.16
25         IOC      125.6      125.6  ...         84        41.28        -7.87
11    DIVISLAB   4,770.00   5,077.70  ...   3,153.30        42.39        -1.57
5   BAJFINANCE   7,021.00   7,047.90  ...   4,362.00        44.57       -13.69
1   ASIANPAINT   3,101.00   3,167.35  ...   2,117.15        45.66         5.66
41  TATACONSUM      800.2        805  ...     505.05        49.55        -4.82
24        INFY   1,702.55   1,718.35  ...   1,091.00        51.44        -0.83
40   SUNPHARMA        775      798.9  ...      502.3        51.57        -5.69
22   ICICIBANK        739     742.05  ...      465.8        52.41       -13.14
47  ULTRACEMCO   7,550.00   7,599.00  ...   4,770.00        53.50         1.78
6   BHARTIARTL        763        763  ...     454.11        58.55         5.70
29          LT   1,820.00   1,841.75  ...   1,092.00        59.59        -0.85
48         UPL        726        726  ...     414.15        68.06        -1.37
46       TITAN   2,377.80   2,385.10  ...   1,300.35        75.45        -6.59
45       TECHM   1,544.00   1,550.00  ...      846.7        76.17        -2.83
49       WIPRO        632      634.4  ...     346.25        77.51        -7.01
0   ADANIPORTS        750        766  ...      384.4        79.22        -4.65
34        ONGC     152.25     152.25  ...      77.05        82.86        -9.41
27    JSWSTEEL     668.25     672.55  ...        336        86.25        -9.27
20    HINDALCO      441.8      442.7  ...     220.35        86.93       -14.06
4   BAJAJFINSV  17,200.00  17,237.20  ...   8,273.70        91.38        -9.10
38        SBIN     486.25      487.9  ...     240.15        93.42        -8.30
14      GRASIM   1,757.30   1,757.85  ...     840.05        99.95        -3.08
43   TATASTEEL   1,157.90   1,159.50  ...      539.5       105.13       -17.37
42  TATAMOTORS        486     486.75  ...      156.7       167.95        -9.68

[50 rows x 13 columns]

In [19]:
#From gainers to losers
data.sort_values('365 d % chng',ascending=False)

        Symbol       Open       High  ...      52w L 365 d % chng  30 d % chng
42  TATAMOTORS        486     486.75  ...      156.7       167.95        -9.68
43   TATASTEEL   1,157.90   1,159.50  ...      539.5       105.13       -17.37
14      GRASIM   1,757.30   1,757.85  ...     840.05        99.95        -3.08
38        SBIN     486.25      487.9  ...     240.15        93.42        -8.30
4   BAJAJFINSV  17,200.00  17,237.20  ...   8,273.70        91.38        -9.10
20    HINDALCO      441.8      442.7  ...     220.35        86.93       -14.06
27    JSWSTEEL     668.25     672.55  ...        336        86.25        -9.27
34        ONGC     152.25     152.25  ...      77.05        82.86        -9.41
0   ADANIPORTS        750        766  ...      384.4        79.22        -4.65
49       WIPRO        632      634.4  ...     346.25        77.51        -7.01
45       TECHM   1,544.00   1,550.00  ...      846.7        76.17        -2.83
46       TITAN   2,377.80   2,385.10  ...   1,300.35        75.45        -6.59
48         UPL        726        726  ...     414.15        68.06        -1.37
29          LT   1,820.00   1,841.75  ...   1,092.00        59.59        -0.85
6   BHARTIARTL        763        763  ...     454.11        58.55         5.70
47  ULTRACEMCO   7,550.00   7,599.00  ...   4,770.00        53.50         1.78
22   ICICIBANK        739     742.05  ...      465.8        52.41       -13.14
40   SUNPHARMA        775      798.9  ...      502.3        51.57        -5.69
24        INFY   1,702.55   1,718.35  ...   1,091.00        51.44        -0.83
41  TATACONSUM      800.2        805  ...     505.05        49.55        -4.82
1   ASIANPAINT   3,101.00   3,167.35  ...   2,117.15        45.66         5.66
5   BAJFINANCE   7,021.00   7,047.90  ...   4,362.00        44.57       -13.69
11    DIVISLAB   4,770.00   5,077.70  ...   3,153.30        42.39        -1.57
25         IOC      125.6      125.6  ...         84        41.28        -7.87
33        NTPC      133.2     134.05  ...      88.15        36.93       -10.16
15     HCLTECH   1,120.00   1,126.00  ...     814.35        34.79        -4.73
37     SBILIFE   1,154.00   1,154.00  ...      825.2        33.19        -3.52
9        CIPLA        892     976.05  ...      726.5        31.89         6.34
44         TCS   3,425.00   3,490.00  ...   2,624.45        27.32        -1.25
10   COALINDIA     157.75      159.4  ...     123.25        25.78       -10.94
16        HDFC   2,820.35   2,856.00  ...   2,179.30        25.27        -5.72
36    RELIANCE   2,467.80   2,477.60  ...   1,830.00        23.48        -9.62
30         M&M        885        885  ...     660.25        18.77        -4.42
26         ITC      228.9     230.05  ...      192.4        15.35        -5.53
2     AXISBANK        669      674.9  ...      568.4        10.19       -21.49
32   NESTLEIND  19,148.85  19,434.10  ...  16,002.10         9.87         0.17
21  HINDUNILVR   2,344.00   2,365.00  ...   2,120.00         9.60        -3.94
3   BAJAJ-AUTO   3,370.00   3,383.50  ...   3,041.00         9.30       -12.05
39    SHREECEM  26,450.00  26,539.90  ...  22,531.00         9.29        -6.76
17    HDFCBANK   1,500.00   1,506.70  ...   1,342.00         6.18        -9.88
23  INDUSINDBK        951     956.95  ...        789         5.25       -22.08
28   KOTAKBANK   2,002.00   2,007.00  ...   1,626.00         5.24       -11.35
35   POWERGRID     204.05     204.95  ...     136.88         3.69         6.36
31      MARUTI   7,520.00   7,520.00  ...   6,400.00         1.34        -2.02
18    HDFCLIFE        685        689  ...      617.4         0.70        -2.94
8    BRITANNIA   3,560.00   3,635.10  ...   3,317.30         0.30        -3.42
12     DRREDDY   4,580.00   4,820.00  ...   4,135.00        -1.17         1.80
7         BPCL     397.15      397.2  ...        357        -1.22       -12.45
13   EICHERMOT   2,495.00   2,506.10  ...   2,303.70        -5.95        -5.77
19  HEROMOTOCO   2,580.00   2,589.70  ...   2,505.15       -16.02        -6.43

[50 rows x 13 columns]

In [20]:
#30 day toppers
data.sort_values('30 d % chng',ascending=False).head()

        Symbol      Open      High  ...     52w L 365 d % chng  30 d % chng
35   POWERGRID    204.05    204.95  ...    136.88         3.69         6.36
9        CIPLA       892    976.05  ...     726.5        31.89         6.34
6   BHARTIARTL       763       763  ...    454.11        58.55         5.70
1   ASIANPAINT  3,101.00  3,167.35  ...  2,117.15        45.66         5.66
12     DRREDDY  4,580.00  4,820.00  ...  4,135.00        -1.17         1.80

[5 rows x 13 columns]

In [21]:
#30 day loosers
data.sort_values('30 d % chng').head()

        Symbol      Open      High  ...     52w L 365 d % chng  30 d % chng
23  INDUSINDBK       951    956.95  ...       789         5.25       -22.08
2     AXISBANK       669     674.9  ...     568.4        10.19       -21.49
43   TATASTEEL  1,157.90  1,159.50  ...     539.5       105.13       -17.37
20    HINDALCO     441.8     442.7  ...    220.35        86.93       -14.06
5   BAJFINANCE  7,021.00  7,047.90  ...  4,362.00        44.57       -13.69

[5 rows x 13 columns]

In [23]:
#52wh stocks
data.sort_values('52w H',ascending=False).head()

        Symbol   Open    High     Low  ...  52w H   52w L  365 d % chng  30 d % chng
30         M&M    885     885     843  ...    979  660.25         18.77        -4.42
0   ADANIPORTS    750     766  713.25  ...    901   384.4         79.22        -4.65
41  TATACONSUM  800.2     805  763.15  ...    889  505.05         49.55        -4.82
22   ICICIBANK    739  742.05   718.6  ...    867   465.8         52.41       -13.14
2     AXISBANK    669   674.9  660.45  ...  866.9   568.4         10.19       -21.49

[5 rows x 13 columns]

In [24]:
#52w L Stocks
data.sort_values('52w L').head()

       Symbol      Open      High  ...     52w L 365 d % chng  30 d % chng
24       INFY  1,702.55  1,718.35  ...  1,091.00        51.44        -0.83
29         LT  1,820.00  1,841.75  ...  1,092.00        59.59        -0.85
46      TITAN  2,377.80  2,385.10  ...  1,300.35        75.45        -6.59
17   HDFCBANK  1,500.00  1,506.70  ...  1,342.00         6.18        -9.88
28  KOTAKBANK  2,002.00  2,007.00  ...  1,626.00         5.24       -11.35

[5 rows x 13 columns]